NODE_ENV=development

PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=coffeechain
 # db user must be root
DB_USER=root
DB_PASS=password

REDIS_URL="127.0.0.1:6379"
REDIS_PORT=6379
REDIS_PREFIX_EOSIO="eosio-block"

# These variables should not be modified as of now
EOSIO_CONTRACT_ACCOUNT=beancoin
EOSIO_STARTING_BLOCK=1
EOSIO_HTTP_URL=http://localhost:7777
